<h1>Dashboard with controls</h1>
<google-charts-dashboard [data]="dashboard"></google-charts-dashboard>
<div class="ui equal width grid">
  <div class="five wide column">
    <google-charts-control [data]="slider"></google-charts-control>
    <google-chart [data]="dashboardPieChart"></google-chart>
  </div>
  <div class="column">
    <google-charts-control [data]="categoryPicker"></google-charts-control>
    <p></p>
    <google-chart [data]="dashboardTable"></google-chart>
    <p></p>
    <input type="button" class="ui button" value="Toggle row numbers" (click)="toggleRowNumbers()">
  </div>
</div>
<p></p>
<p><a routerLink="/dashboard">More dashboard examples</a></p>

<h1>Column chart</h1>
<google-chart id="columnChart" [data]="columnChart"></google-chart>
<input type="button" class="ui button" value="Change data" (click)="changeData()">
<input type="button" class="ui button" value="Change chart type" (click)="changeChartType()">
<input type="button" class="ui button" value="Open as PNG" (click)="openAsPNG()">
<input type="button" class="ui button" value="Open chart editor" (click)="editChart()">
<div class="ui modal" id="pngModal" style="width: 90%; max-width:1200px;">
  <div class="header">PNG image</div>
  <img class="image" [src]="[imageURI]">
</div>

<h4>Material</h4>
<google-chart [data]="barChart"></google-chart>
<p></p>
<h4>Stacked</h4>
<google-chart [data]="stackedColumnChart"></google-chart>
<h1>Pie chart</h1>
<google-chart [data]="pieChart"></google-chart>
<h1>Gauge</h1>
<div style="width: 1px; margin: 0 auto;">
  <google-chart [data]="gaugeChart"></google-chart>
</div>
<h1>Scatter chart</h1>
<google-chart [data]="scatterChart"></google-chart>
<h1>Timeline chart</h1>
<google-chart [data]="timelineChart"></google-chart>
<input class="ui button" type="button" value="Clear selection" (click)="clearTimelineSelection()">
<h1>Line chart with events</h1>
<h4>Selected row: {{selectEvent?.row}}</h4>
<h4>Selected column: {{selectEvent?.column}}</h4>
<pre>{{selectEvent | json}}</pre>
<google-chart [data]="lineChart" (chartReady)="ready($event)" (chartError)="error($event)" (chartSelect)="select($event)"></google-chart>
<h1>Combo chart</h1>
<div class="alert alert-info" role="alert">
See console log for mouse over events.
</div>
<google-chart [data]="comboChart" (mouseOver)="mouseOver($event)" (mouseOut)="mouseOut($event)"></google-chart>

<h1>Table with formatter</h1>
<p></p>
<google-chart [data]="tableChart"></google-chart>
<p></p>
<h4>DateFormat</h4>
<google-chart [data]="tableWithDates"></google-chart>
<p></p>
<h4>PatternFormat</h4>
<google-chart [data]="tableWithPatternFormat"></google-chart>
<p></p>
<h4>With remote source</h4>
<google-chart [data]="remoteSourceData"></google-chart>

<h1>GeoChart</h1>
<div class="alert alert-info" role="alert">
  Selected region: <code>{{regionClickEvent | json}}</code>
</div>
<google-chart [data]="geoChart" (regionClick)="geoChartRegionClick($event)"></google-chart>

<h1>OrgChart</h1>
<google-chart [data]="orgChart"></google-chart>
<input class="ui button" type="button" value="Toggle collapse" (click)="collapseOrgChart()">
<h1>TreeMap</h1>
<h2>click on the button below to append data</h2>
<google-chart [data]="treeMap"></google-chart>
<input class="ui button" type="button" value="Append data" (click)="appendDataToTreeMap()">
<h1>CandlestickChart</h1>
<google-chart [data]="candlestickChart"></google-chart>
<h1>AnnotationChart</h1>
<google-chart [data]="annotationChart"></google-chart>
<p></p>
<h4>With charts in tooltip</h4>
<p>Adapted from <a href="https://developers.google.com/chart/interactive/docs/customizing_tooltip_content#placing-charts-in-tooltips">here</a>.</p>
<google-chart [data]="tooltipChart" hidden></google-chart>
<google-chart [data]="columnChartWTooltips" (chartReadyOneTime)="setupTooltips()"></google-chart>
<p></p>
