<h1>Column chart</h1>
<google-chart [data]="columnChartData"></google-chart>
<input type="button" value="Change data" (click)="changeData()"> <input type="button" value="Change chart type" (click)="changeChartType()">
<p></p>
<h4>Animated</h4>
<google-chart #cchart [data]="columnChartData2"></google-chart>
<input type="button" value="Change data" (click)="changeData2()">
<p></p>
<h4>Material</h4>
<google-chart [data]="barChartData"></google-chart>
<p></p>
<h4>Stacked</h4>
<google-chart [data]="stackedColumnChartData"></google-chart>
<h1>Pie chart</h1>
<google-chart [data]="pieChartData"></google-chart>
<h1>Gauge</h1>
<div style="width: 1px; margin: 0 auto;">
  <google-chart [data]="gaugeChartData"></google-chart>
</div>
<h1>Scatter chart</h1>
<google-chart [data]="scatterChartData"></google-chart>
<h1>Timeline chart</h1>
<google-chart [data]="timelineChartData"></google-chart>
<h1>Line chart with events</h1>
<h4>Selected row: {{selectEvent?.row}}</h4>
<h4>Selected column: {{selectEvent?.column}}</h4>
<pre>{{selectEvent | json}}</pre>
<google-chart [data]="lineChartData" (chartReady)="ready($event)" (chartError)="error($event)" (chartSelect)="select($event)"></google-chart>
<h1>Combo chart</h1>
<p>See console log for mouse over events.
<google-chart [data]="comboChartData" (mouseOver)="mouseOver($event)" (mouseOut)="mouseOut($event)"></google-chart>
<h1>Table with formatter</h1>
<p></p>
<google-chart [data]="tableChartData"></google-chart>
<h1>OrgChart</h1>
<google-chart #orgChart [data]="orgChartData"></google-chart>
<input type="button" value="Toggle collapse" (click)="collapseOrgChart()">
<h1>CandlestickChart</h1>
<p></p>
<google-chart [data]="candlestickChartData"></google-chart>
<p></p>
<p>Code samples are adapted from <a href="https://developers.google.com/chart/">Google Charts</a> where they are licensed under the <a href="https://www.apache.org/licenses/LICENSE-2.0">Apache 2.0 License</a>.</p>
