<h1>Column chart</h1>
<google-chart [data]="columnChartOptions"></google-chart>
<input type="button" value="Change data" (click)="myClick()">
<h1>Pie chart</h1>
<google-chart [data]="pieChartOptions"></google-chart>
<h1>Gauge</h1>
<div style="width: 1px; margin: 0 auto;">
  <google-chart [data]="gaugeChartOptions"></google-chart>
</div>
<h1>Scatter chart</h1>
<google-chart [data]="scatterChartOptions"></google-chart>
<h1>Timeline chart</h1>
<google-chart [data]="timelineChartOptions"></google-chart>
<h1>Line chart with events</h1>
<h4>Selected row: {{selectEvent?.row}}</h4>
<h4>Selected column: {{selectEvent?.column}}</h4>
<pre>{{selectEvent | json}}</pre>
<google-chart [data]="lineChartOptions" (chartReady)="ready($event)" (chartError)="error($event)" (chartSelect)="select($event)"></google-chart>
<h1>Combo chart</h1>
<google-chart [data]="comboChartOptions" (onMouseOver)="mouseOver($event)"></google-chart>
